<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">

    <nav class="bg-teal-400 p-4 text-white flex justify-center gap-6">
        <a href="/"><p class="hover:text-teal-700 transition">Home</p></a>
        <a href="/sobre"><p class="hover:text-teal-700 transition">Sobre</p></a>
        <a href="/contato"><p class="hover:text-teal-700 transition">Contato</p></a>
        <a href="/produtos"><p class="hover:text-teal-700 transition">Produtos</p></a>
    </nav>

    <div class="max-w-4xl mx-auto mt-20 text-center bg-white p-10 rounded shadow">

        <h1 class="text-4xl font-bold mb-4">Sistema de Gestão de Produtos</h1>

        <p class="text-gray-600 mb-8">Gerencie os produtos do seu mercadinho de forma simples.</p>

        <div class="mt-6">
            <a href="/produtos" class="inline-block bg-teal-400 text-white px-6 py-3 rounded hover:bg-teal-600 transition">Ver Produtos</a>
        </div>

    </div>

</body>
</html>