<!DOCTYPE html>
<html>
<head>
<title>Sobre</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">

<nav class="bg-teal-400 p-4 text-white flex justify-center gap-6">
    <a href="/"><p class="hover:text-teal-700 transition">Home</p></a>
    <a href="/sobre"><p class="hover:text-teal-700 transition">Sobre</p></a>
    <a href="/contato"><p class="hover:text-teal-700 transition">Contato</p></a>
    <a href="/produtos"><p class="hover:text-teal-700 transition">Produtos</p></a>
</nav>

<div class="max-w-3xl mx-auto mt-16 bg-white p-10 rounded shadow">

<h1 class="text-3xl font-bold mb-6">Sobre este sistema</h1>

<div class="space-y-6 text-gray-700 leading-relaxed">


<div>
<h2 class="text-xl font-semibold mb-2"> Para quem é este sistema</h2>
<p>
O sistema foi pensado para pequenos comércios, mercadinhos ou qualquer pessoa que precise organizar produtos de forma simples, sem precisar usar sistemas complexos ou banco de dados.
</p>
</div>

<div>
<h2 class="text-xl font-semibold mb-2"> Qual problema ele resolve</h2>
<p>
Muitas vezes pequenos negócios não têm uma forma simples de registrar e visualizar seus produtos. Este sistema permite cadastrar, visualizar e remover produtos rapidamente, ajudando a manter tudo organizado.
</p>
</div>

</div>

</div>

</body>
</html>